@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  font-family: "Inter", monospace !important;

  --base-background: #151515;
  --base-surface: #1B1B1B;
  --base-secondary: #212121;
  --base-border: #333333;
  --base-primary: #31493C;
  --base-accent: #5A5C63;
  --base-white: #FFFFFF;
  --base-muted-text: #A3A3A3;
  --base-green: #22C55E;
  --base-destructive: #991B1B;
  

  --background: var(--base-background);
  --foreground: var(--base-white);
  
  --card: var(--base-surface);
  --card-foreground: var(--base-white);
  
  --popover: var(--base-surface);
  --popover-foreground: var(--base-white);
  
  --primary: var(--base-primary);
  --primary-foreground: var(--base-white);
  
  --secondary: var(--base-secondary);
  --secondary-foreground: var(--base-white);
  
  --accent: var(--base-accent);
  --accent-foreground: var(--base-white);
  
  --muted: var(--base-secondary);
  --muted-foreground: var(--base-muted-text);
  
  --destructive: var(--base-destructive);
  --destructive-foreground: var(--base-white);
  
  --border: var(--base-border);
  --input: var(--base-border);
  --ring: var(--base-primary);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}